pipeline/pl_validateStructure.json
{
	"name": "pl_validateStructure",
	"properties": {
		"activities": [
			{
				"name": "GetMeta_S",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adf_ds_fifa_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.P_ContainerName_GMS",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.P_FileName_GMS",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetMeta_S",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupFileDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetMeta_S').output.structure, json(activity('LookupFileDetails').output.firstRow.structure))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "WaitFalse",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "WaitTrue",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						},
						{
							"name": "Execute pl_fifa",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "WaitTrue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_fifa",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_containerName": {
										"value": "@activity('LookupFileDetails').output.firstRow.ContainerName",
										"type": "Expression"
									},
									"P_fileName": {
										"value": "@activity('LookupFileDetails').output.firstRow.FileName",
										"type": "Expression"
									},
									"P_sName": {
										"value": "@activity('LookupFileDetails').output.firstRow.SchemaName",
										"type": "Expression"
									},
									"P_tableName": {
										"value": "@activity('LookupFileDetails').output.firstRow.tableName",
										"type": "Expression"
									},
									"parameter_ID": {
										"value": "@activity('LookupFileDetails').output.firstRow.P_ID",
										"type": "Expression"
									},
									"parameter_SCD": {
										"value": "@activity('LookupFileDetails').output.firstRow.P_SCD",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LookupFileDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetFileDetails]",
						"storedProcedureParameters": {
							"FileType": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_FileType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adf_ds_fifa_sql_table",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "tbl_IPLPlayers",
							"sName": "dbo"
						}
					}
				}
			}
		],
		"parameters": {
			"P_FileType": {
				"type": "string",
				"defaultValue": "ipl"
			},
			"P_ContainerName_GMS": {
				"type": "string"
			},
			"P_FileName_GMS": {
				"type": "string"
			}
		},
		"annotations": []
	}
}